.export-button{
    padding:15px;
    background-color: #3268a8;
    color: #FFFFFF;
    border:none;
    cursor: pointer;
    &:hover{
        background-color: #11325c85;
    }
}
.w-100{
    width: 100%;
}